$card-primary-color: #4da6ff;//#6ABAE6;
$card-secondary-color: #3195cb;
$card-accent-color: white;

@keyframes appear-opacity {
    from {opacity: 0}
    to{opacity: 1}
}

.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 290px;
    width: 320px;
    height: 190px;
    padding: 5px;
    margin: 2px;
    @include border-radius( $default-border-radius );
    background-color: $card-primary-color;
    border-width: 1px;
    border-color: $card-accent-color;
    color: $card-accent-color;
    transition: 0.3s;
    animation: appear-opacity 0.75s;
    position: relative;
}

.card:hover,
.card.hover {
    background-color: $card-secondary-color;
    transition: 0.5s;
}

.card-corner {
    align-self: flex-end;
    margin-bottom: 7px;
    margin-top: 3px;
    margin-left: 0;
}

$tools-color-normal: white;
$tools-color-hover: #8cd98c;
$tools-color-active: #8cd98c;

button.card-edit {
    color: $tools-color-normal;
}
button.card-edit:hover,
button.card-edit.hover {
    background-color: $tools-color-hover;
    transition: 0.5s;
}
button.card-edit:active,
button.card-edit.active {
    background-color: $tools-color-active;
}

button.card-delete {
    @extend button.card-edit;
    background-color: #ffb3b3;
    font-weight: bolder;
}
button.card-delete:hover,
button.card-delete.hover {
    background-color: red;
    border-color: white;
    color: white;
    transition: 0.3s;
}
button.card-delete:active,
button.card-delete.active {
    background-color: red;
    border-color: white;
    color: white;
    transition: 0.3s;
}
.label-key {
    font-weight: bold;
}