$card-bg-color: #6ABAE6;

.card {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 190px;
    padding: 5px;
    margin: 2px;
    border-radius: 15px;
    background-color: $card-bg-color;
    border-width: 1px;
    border-color: white;
    color: white;
}

.card-corner {
    align-self: flex-end;
    margin: 10px;
}

button.new {
    width: 100%;
    height: 100%;
}

.label-key {
    font-weight: bold;
}