input[type="text"] {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    @include box-shadow( 0, 0, 0, 0 );
}
input[type="text"]:focus,
input[type="text"].focus {
    outline: none;
}

.field {
    padding: 2px;
    background-color: inherit;
    color: white;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    transition: 0.3s;
}
.field:focus,
.field.focus {
    background-color: #4dd2ff;
    transition: 0.3s;
}
.field::-webkit-input-placeholder {
    color: #cccccc;
}
.field:-moz-placeholder{
    color: #cccccc;
}
.field::-ms-input-placeholder {
    color: #cccccc;
}

