.header-searchbar{
    display: block;
    @include border-radius( $default-border-radius );
    width: 75%;
    margin: 20px;
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
}

.header-searchbar:focus{
    border: solid 5px #969696;
}