.contacts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    background-color: #c1d7d7;
    height: 100%;
}

.app-container {
    height: 100vh;
}